<div id="modal">
    <header>
        <h1>
            Angular
        </h1>
    
        <div id="numeracao">
            <p>
                1/10
            </p>
        </div>
    </header>
    
    <p>
        Qual o resultado da variável "start"?
    </p>
    
    <img src="/assets/images/imagem.png" alt="Imagem da pergunta">
    
    <div class="campo">
        <p class="escolha">
            A.
        </p>
    
        <p class="resposta">
            True
        </p>
    </div>
    <div class="campo">
        <p class="escolha">
            A.
        </p>
    
        <p class="resposta">
            True
        </p>
    </div>
    <div class="campo">
        <p class="escolha">
            A.
        </p>
    
        <p class="resposta">
            True
        </p>
    </div>
    <div class="campo">
        <p class="escolha">
            A.
        </p>
    
        <p class="resposta">
            True
        </p>
    </div>
</div>